@font-face{
  font-family: 'Bella';
  src: url('/fonts/bella.ttf') format('truetype');
}

@font-face{
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/jakarta.ttf') format('truetype');
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: rgb(132, 220, 76, 0.05);
}

.left{
  width: 25%;
  height: 100%;
  float: left;
  background: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.top{
  width: 100%;
  height: 50%;
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.name h1{
  font-size: 250%;
  font-family: Bella;
  color: #84dc4c;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.profile{
  width: 75%;
  height: auto;
  border-radius: 50%;
}

.bottom{
  width: 100%;
  height: 50%;
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.description p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  text-align: center;
  filter: opacity(75%);
  font-size: 100%;
  font-family: Plus Jakarta Sans, sans-serif;
}

.social{
  width: 100%;
  height: 20%;
}

.one{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 33.33%;
  height: 100%;
  float: left;
}

.github{
  width: 95%;
  height: auto;
  filter: invert(100%) grayscale(100%) opacity(65%);
}

.github:hover{
  cursor: pointer;
  filter: sepia(1) saturate(10000%) hue-rotate(50deg) brightness(90%);
}

.two{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 33.33%;
  height: 100%;
  float: left;
}

.linkedin{
  width: 85%;
  height: auto;
  filter: grayscale(100%);
}

.linkedin:hover{
  cursor: pointer;
  filter: sepia(1) saturate(10000%) hue-rotate(90deg) brightness(250%);
}

.three{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33.33%;
  height: 100%;
  float: left;
}

.gmail{
  width: 85%;
  height: auto;
  filter: grayscale(100%);
}

.gmail:hover{
  cursor: pointer;
  filter: sepia(1) saturate(10000%) hue-rotate(90deg) brightness(250%);
}

.right{
  width: 75%;
  height: 100%;
  float: left;
}

@media screen and (orientation:portrait){
  .left{
    width: 100%;
    height: 100%;
  }

  .right{
    display: none;
  }
}

@media (max-height: 650px){
  .name h1{
    font-size: 125%;
  }

  .description p{
    font-size: 50%;
  }

  .github{
    width: 50%;
    margin-left: 50%;
  }

  .linkedin{
    width: 45%;
    margin-left: 25%;
  }

  .gmail{
    width: 45%;
  }
}
