@font-face{
  font-family: 'Bella';
  src: url('/fonts/bella.ttf') format('truetype');
}

@font-face{
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/jakarta.ttf') format('truetype');
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: rgb(132, 220, 76, 0.05);
}

.left{
  width: 25%;
  height: 100%;
  float: left;
  background: white;
  background-image: url('/images/topography.png');
  background-size: cover;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.top{
  width: 100%;
  height: 50%;
}

.name{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}

.name h1{
  font-size: 250%;
  font-family: Bella;
  color: #84dc4c;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
}

.canvas{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  border-radius: 50%;
  perspective: 1000px;
}

.canvas:hover>.card{
  transform: rotateY(-180deg);
}

.card{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.front{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
}

.profile{
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.back{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgb(132 220 76 / 0.15);
  text-align: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 55%;
}

.resume{
  width: 20%;
  height: 40%;
  border: 0;
  background: rgb(132 220 76 / 0);
  background-image: url('/images/resume.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: opacity(60%);
}

.resume:hover{
  cursor: pointer;
  filter: opacity(70%);
}

.instruction{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 45%;
  font-family: Plus Jakarta Sans, sans-serif;
  filter: opacity(75%);
  font-size: 100%;
}

.bottom{
  width: 100%;
  height: 50%;
}

.description{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
}

.description p{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  text-align: center;
  filter: opacity(75%);
  font-size: 100%;
  font-family: Plus Jakarta Sans, sans-serif;
}

.social{
  width: 100%;
  height: 20%;
}

.one{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 33.33%;
  height: 100%;
  float: left;
}

.link1{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 32.5%;
  height: 55%;
}

.github{
  width: 100%;
  height: 100%;
  filter: invert(100%) grayscale(100%) opacity(65%);
}

.github:hover{
  cursor: pointer;
  filter: sepia(1) saturate(10000%) hue-rotate(50deg) brightness(90%);
}

.two{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 33.33%;
  height: 100%;
  float: left;
}

.link2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 32.5%;
  height: 55%;
}

.linkedin{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.linkedin:hover{
  cursor: pointer;
  filter: sepia(1) saturate(10000%) hue-rotate(90deg) brightness(250%);
}

.three{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 33.33%;
  height: 100%;
  float: left;
}

.link3{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 35%;
  height: 50%;
}

.gmail{
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.gmail:hover{
  cursor: pointer;
  filter: sepia(1) saturate(10000%) hue-rotate(90deg) brightness(250%);
}

.right{
  width: 75%;
  height: 100%;
  float: left;
}

.up{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
}

.up h1{
  font-size: 250%;
  font-family: Bella;
  color: #84dc4c;
}

.down{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.form{
  width: 95%;
  height: 95%;
}

.logo{
  width: 45%;
  height: auto;
  filter: opacity(15%);
}

.input{
  width: 100%;
  height: 10%;
}

.textbox{
  width: 85%;
  height: 90%;
  background: white;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  float: left;
}

.space{
  width: 5%;
  height: 100%;
  float: left;
}

.type{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  height: 100%;
  float: left;
}

.query{
  width: 97.5%;
  height: 100%;
  border-radius: 25%;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-family: Plus Jakarta Sans, sans-serif;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 90%;
  float: left;
}

.ask{
  width: 35%;
  height: 100%;
  border-radius: 50%;
  border: 0;
  background: white;
  background-image: url('/images/plane.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  font-family: Plus Jakarta Sans, sans-serif;
}

.ask:hover{
  cursor: pointer;
  background: #84dc4c;
  background-image: url('/images/plane.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (orientation:portrait){
  .left{
    width: 100%;
    height: 100%;
  }

  .right{
    width: 100%;
    height: 100%;
  }

  .up h1{
    font-size: 2rem;
  }

  .logo{
    width: 85%;
  }

  .textbox{
    width: 80%;
  }

  .query{
    height: 95%;
    border-radius: 40px;
  }

  .button{
    width: 20%;
  }

  .ask{
    width: 80%;
  }
}

@media (max-height: 650px){
  .name h1{
    font-size: 125%;
  }

  .instruction{
    font-size: 50%;
  }

  .description p{
    font-size: 50%;
  }

  .up h1{
    font-size: 140%;
  }

  .query{
    font-size: 75%;
  }
}
